.git
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
.dockerignore
*.md
.phpunit.result.cache
.pint.cache
